.dialog-content #content h3,
.dialog-content #content p {
  display: inline;
}

.dialog-content #content h3,
.dialog-content #content h3 i {
  margin-right: 0.2em;
}

.dialog-content #content {
  margin-bottom: 1.5em;
}

.dialog-content #content h3 i {
  vertical-align: middle;
}
