.task__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Priority {
    margin-top: 2em;
}