.create__task__root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Priority {
  margin-top: 2em;
}
